<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.designer.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Design Time Perspective"
            class="org.rifidi.designer.rcp.perspectives.DesignTimePerspective"
            id="org.rifidi.designer.rcp.perspectives.designtime">
      </perspective>
      <perspective
            class="org.rifidi.designer.rcp.perspectives.RunTimePerspective"
            id="org.rifidi.designer.rcp.perspectives.runtime"
            name="Runtime Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.rifidi.designer.rcp.viewcategory"
            class="org.rifidi.designer.rcp.views.entityview.EntityView"
            icon="icons/application_side_list.png"
            id="org.rifidi.designer.rcp.views.entityview.EntityView"
            name="Layout Navigator">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.designer.rcp.viewcategory"
            class="org.rifidi.designer.rcp.views.view3d.View3D"
            icon="icons/application_view_gallery.png"
            id="org.rifidi.designer.rcp.views.View3D"
            name="Layout Designer">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.designer.rcp.viewcategory"
            class="org.rifidi.designer.rcp.views.minimapview.MiniMapView"
            icon="icons/map_magnify.png"
            id="org.rifidi.designer.rcp.views.MiniMapView"
            name="Minimap">
      </view>
      <view
            allowMultiple="false"
            category="org.rifidi.designer.rcp.viewcategory"
            class="org.rifidi.designer.rcp.views.libraryview.LibraryView"
            icon="icons/application_side_boxes.png"
            id="org.rifidi.designer.rcp.views.LibraryView"
            name="Components">
      </view>
      <category
            id="org.rifidi.designer.rcp.viewcategory"
            name="Designer Views">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.rifidi.designer.rcp.actions.viewcategory"
            name="3D View Actions">
      </category>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.cameramode"
            name="Camera Mode">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.editmode"
            name="Edit Mode">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.togglegrid"
            name="Toggle Grid">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.developers.boundsdebugging"
            name="Toggle Bounds">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.rotateright"
            name="Rotate Right">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.rotateleft"
            name="Rotate Left">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.developers.physicsdebugging"
            name="Toggle Physics">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenecontrol.start"
            name="Start Scene">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenecontrol.stop"
            name="Stop Scene">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenecontrol.pause"
            name="Pause Scene">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenedata.newscenedata"
            name="New SceneData">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenedata.loadscenedata"
            name="Load SceneData">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenedata.saveas"
            name="Save As">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.scenedata.save"
            name="Save">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.delete"
            name="Delete">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.turnon"
            name="Turn On">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.turnoff"
            name="Turn Off">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.group"
            name="Add to group">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entities.ungroup"
            name="Ungroup">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entitygroup.removeall"
            name="Remove All">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.entitygroup.delete"
            name="Delete Group">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.developers.togglefengui"
            name="Toggle FenGUI">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.tools.watcharea"
            name="Watch Area Tool">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.tools.movetool"
            name="Move Tool">
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.global.showview"
            name="Show View">
         <commandParameter
               id="org.rifidi.designer.rcp.commands.global.viewid"
               name="viewid"
               values="org.rifidi.designer.rcp.commands.global.ShowViewParameters">
         </commandParameter>
      </command>
      <command
            categoryId="org.rifidi.designer.rcp.actions.viewcategory"
            id="org.rifidi.designer.rcp.commands.global.openperspective"
            name="Open Perspective">         
         <commandParameter
               id="org.rifidi.designer.rcp.commands.global.perspectiveid"
               name="perspectiveid"
               values="org.rifidi.designer.rcp.commands.global.ShowPerspectiveParameters">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.designer.rcp.handlers.tools.CameraModeHandler"
            commandId="org.rifidi.designer.rcp.commands.cameramode">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.tools.EditModeHandler"
            commandId="org.rifidi.designer.rcp.commands.editmode">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.view3d.ToggleGridHandler"
            commandId="org.rifidi.designer.rcp.commands.togglegrid">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.developers.BoundsDebuggingHandler"
            commandId="org.rifidi.designer.rcp.commands.developers.boundsdebugging">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.RotateRightHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.rotateright">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.designer.entities.VisualEntity">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.RotateLeftHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.rotateleft">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.designer.entities.VisualEntity">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.developers.PhysicsDebuggingHandler"
            commandId="org.rifidi.designer.rcp.commands.developers.physicsdebugging">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenecontrol.PauseHandler"
            commandId="org.rifidi.designer.rcp.commands.scenecontrol.pause">
         <enabledWhen>
            <test
                  args="pause"
                  property="org.rifidi.designer.rcp.world.state">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenecontrol.StopHandler"
            commandId="org.rifidi.designer.rcp.commands.scenecontrol.stop">
         <enabledWhen>
            <test
                  args="stop"
                  property="org.rifidi.designer.rcp.world.state">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenecontrol.StartHandler"
            commandId="org.rifidi.designer.rcp.commands.scenecontrol.start">
         <enabledWhen>
            <test
                  args="start"
                  property="org.rifidi.designer.rcp.world.state">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenedata.NewSceneDataHandler"
            commandId="org.rifidi.designer.rcp.commands.scenedata.newscenedata">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenedata.LoadSceneDataHandler"
            commandId="org.rifidi.designer.rcp.commands.scenedata.loadscenedata">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenedata.SaveAsHandler"
            commandId="org.rifidi.designer.rcp.commands.scenedata.saveas">
            <enabledWhen>
            <test
                  args="saveas"
                  property="org.rifidi.designer.rcp.world.state">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.scenedata.SaveHandler"
            commandId="org.rifidi.designer.rcp.commands.scenedata.save">
         <enabledWhen>
            <test
                  args="save"
                  property="org.rifidi.designer.rcp.world.state">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.DeleteEntitesHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.delete">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.TurnOnHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.turnon">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.TurnOffHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.turnoff">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.GroupEntitiesHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.group">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entities.UngroupEntitiesHandler"
            commandId="org.rifidi.designer.rcp.commands.entities.ungroup">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entitiygroup.RemoveAllHandler"
            commandId="org.rifidi.designer.rcp.commands.entitygroup.removeall">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.entitiygroup.DeleteEntityGroupHandler"
            commandId="org.rifidi.designer.rcp.commands.entitygroup.delete">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.tools.WatchAreaToolHandler"
            commandId="org.rifidi.designer.rcp.commands.tools.watcharea">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.tools.MoveToolHandler"
            commandId="org.rifidi.designer.rcp.commands.tools.movetool">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.global.ShowViewHandler"
            commandId="org.rifidi.designer.rcp.commands.global.showview">
      </handler>
      <handler
            class="org.rifidi.designer.rcp.handlers.global.OpenPerspectiveHandler"
            commandId="org.rifidi.designer.rcp.commands.global.openperspective">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.rifidi.designer.rcp.generaltoolbar">
            <command
                  commandId="org.rifidi.designer.rcp.commands.togglegrid"
                  icon="icons/grid_toggle.png"
                  id="org.rifidi.designer.rcp.commands.togglegridBinding"
                  label="Toggle Grid">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.entities.rotateright"
                  icon="icons/shape_rotate_clockwise.png"
                  id="org.rifidi.designer.rcp.commands.entities.rotaterightBinding"
                  label="Rotate Right">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.designcontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.entities.rotateleft"
                  icon="icons/shape_rotate_anticlockwise.png"
                  id="org.rifidi.designer.rcp.commands.entities.rotateleftBinding"
                  label="Rotate Left">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.designcontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <separator
               name="org.rifidi.designer.rcp.separator1">
         </separator>
         <toolbar
               id="org.rifidi.designer.rcp.scenetoolbar">
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.start"
                  icon="icons/media-playback-start.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.startBinding"
                  label="Start Scene">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.pause"
                  icon="icons/media-playback-pause.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.pauseBinding"
                  label="Pause Scene">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.stop"
                  icon="icons/media-playback-stop.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.stopBinding"
                  label="Stop Scene">
            </command>
         </toolbar>
         <separator
               name="org.rifidi.designer.rcp.separator2">
         </separator>
         <toolbar
               id="org.rifidi.designer.rcp.tooltoolbar">
            <command
                  commandId="org.rifidi.designer.rcp.commands.tools.watcharea"
                  icon="icons/eye_open.png"
                  id="org.rifidi.designer.rcp.commands.tools.watchareaBinding"
                  label="Watch Area Tool"
                  style="radio">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.runtimecontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.tools.movetool"
                  icon="icons/forward.png"
                  id="org.rifidi.designer.rcp.commands.tools.movetoolBinding"
                  label="Move Tool"
                  style="radio">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.runtimecontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <!--<command
                  commandId="org.rifidi.designer.rcp.commands.editmode"
                  icon="icons/edit.png"
                  id="org.rifidi.designer.rcp.commands.editmodeBinding"
                  label="Edit Mode"
                  style="radio">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.designcontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.cameramode"
                  icon="icons/camera.png"
                  id="org.rifidi.designer.rcp.commands.cameramodeBinding"
                  label="Camera Mode"
                  style="radio">
               <visibleWhen>
                  <with
                        variable="activeContexts">
                     <iterate
                           operator="or">
                        <equals
                              value="org.rifidi.designer.rcp.designcontext">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>-->
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.rifidi.designer.rcp.menus.file"
               label="File">
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenedata.newscenedata"
                  id="org.rifidi.designer.rcp.commands.scenedata.newscenedataBinding"
                  label="New">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenedata.loadscenedata"
                  id="org.rifidi.designer.rcp.commands.scenedata.loadscenedataBinding"
                  label="Manage Layouts...">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenedata.saveas"
                  id="org.rifidi.designer.rcp.commands.scenedata.saveasBinding"
                  label="Save As">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenedata.save"
                  id="org.rifidi.designer.rcp.commands.scenedata.saveBinding"
                  label="Save">
            </command>
            <separator
                  name="org.rifidi.designer.rcp.separator2">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Simulation">
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.start"
                  icon="icons/media-playback-start.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.startBinding"
                  label="Start Scene">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.pause"
                  icon="icons/media-playback-pause.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.pauseBinding"
                  label="Pause Scene">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.scenecontrol.stop"
                  icon="icons/media-playback-stop.png"
                  id="org.rifidi.designer.rcp.commands.scenecontrol.stopBinding"
                  label="Stop Scene">
            </command>
         </menu>
         <menu
               id="org.rifidi.designer.rcp.menus.developers"
               label="Developer Actions">
            <command
                  commandId="org.rifidi.designer.rcp.commands.developers.boundsdebugging"
                  icon="icons/applications-other.png"
                  id="org.rifidi.designer.rcp.commands.developers.boundsdebuggingBinding"
                  label="Toggle Bounds Debugging">
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.developers.physicsdebugging"
                  icon="icons/applications-system.png"
                  id="org.rifidi.designer.rcp.commands.developers.physicsdebuggingBinding"
                  label="Physics Debugging">
            </command>
         </menu>
         <menu
               id="org.rifidi.designer.rcp.menus.views"
               label="Views">
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.showview"
                  id="org.rifidi.designer.rcp.commands.global.showLayoutBinding"
                  label="Show Layout Navigator">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.viewid"
                     value="org.rifidi.designer.rcp.views.entityview.EntityView">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.showview"
                  id="org.rifidi.designer.rcp.commands.global.showMinimapBinding"
                  label="Show Minimap">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.viewid"
                     value="org.rifidi.designer.rcp.views.MiniMapView">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.showview"
                  id="org.rifidi.designer.rcp.commands.global.showLibraryBinding"
                  label="Show Components">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.viewid"
                     value="org.rifidi.designer.rcp.views.LibraryView">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.showview"
                  id="org.rifidi.designer.rcp.commands.global.showConsoleBinding"
                  label="Show Console">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.viewid"
                     value="org.eclipse.ui.console.ConsoleView">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.showview"
                  id="org.rifidi.designer.rcp.commands.global.showPropertiesBinding"
                  label="Show Properties">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.viewid"
                     value="org.eclipse.ui.views.PropertySheet">
               </parameter>
            </command>
            <visibleWhen>
				<with variable="activeContexts">
            		<iterate operator="or">
						<equals value="org.rifidi.designer.rcp.designcontext"/>
					</iterate>
				</with>
            </visibleWhen>
         </menu>
         <menu
               id="org.rifidi.designer.rcp.menus.perspectives"
               label="Perspectives">
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.openperspective"
                  icon="icons/runtime.png"
                  id="org.rifidi.designer.rcp.commands.global.openRuntimePerspectiveBinding"
                  label="Runtime">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.perspectiveid"
                     value="org.rifidi.designer.rcp.perspectives.runtime">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.openperspective"
                  icon="icons/designtime.png"
                  id="org.rifidi.designer.rcp.commands.global.openDesigntimePerspectiveBinding"
                  label="Designtime">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.perspectiveid"
                     value="org.rifidi.designer.rcp.perspectives.designtime">
               </parameter>
            </command>
            <command
                  commandId="org.rifidi.designer.rcp.commands.global.openperspective"
                  icon="icons/applications-other.png"
                  id="org.rifidi.designer.rcp.commands.global.openGPIOPerspectiveBinding"
                  label="GPIO">
               <parameter
                     name="org.rifidi.designer.rcp.commands.global.perspectiveid"
                     value="org.rifidi.designer.gpio.editor.mainperspective">
               </parameter>
            </command>
         </menu>
         <menu
               id="org.rifidi.designer.rcp.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Help Contents">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.turnon"
               icon="icons/lightbulb.png"
               id="org.rifidi.designer.rcp.commands.entities.turnonBinding"
               label="Turn On All">
            <visibleWhen>
               <and>
               
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.grouping.EntityGroup">
                     </instanceof>
                  </iterate>
                  <test
                        property="org.rifidi.designer.rcp.entitygroups.switch">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.turnon"
               icon="icons/lightbulb.png"
               id="org.rifidi.designer.rcp.commands.entities.turnonBinding"
               label="Turn On">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <not>
	                  <test
	                        property="org.rifidi.designer.rcp.entities.running">
	                  </test>
	              </not>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.interfaces.Switch">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.turnoff"
               icon="icons/lightbulb_off.png"
               id="org.rifidi.designer.rcp.commands.entities.turnoffBinding"
               label="Turn Off All">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.grouping.EntityGroup">
                     </instanceof>
                  </iterate>
                  <test
                        property="org.rifidi.designer.rcp.entitygroups.switch">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.turnoff"
               icon="icons/lightbulb_off.png"
               id="org.rifidi.designer.rcp.commands.entities.turnoffBinding"
               label="Turn Off">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <test
                        property="org.rifidi.designer.rcp.entities.running">
                  </test>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.interfaces.Switch">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.rotateright"
               icon="icons/shape_rotate_clockwise.png"
               id="org.rifidi.designer.rcp.commands.entities.rotaterightBinding"
               label="Rotate Right">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.VisualEntity">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.rotateleft"
               icon="icons/shape_rotate_anticlockwise.png"
               id="org.rifidi.designer.rcp.commands.entities.rotateleftBinding"
               label="Rotate Left">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.VisualEntity">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entitygroup.delete"
               icon="icons/list-remove.png"
               id="org.rifidi.designer.rcp.commands.entitygroup.deleteBinding"
               label="Delete Group">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.grouping.EntityGroup">
                     </instanceof>
                  </iterate>
                  <not>
                     <test
                           property="org.rifidi.designer.rcp.entitygroups.locked">
                     </test>
                  </not>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.delete"
               icon="icons/list-remove.png"
               id="org.rifidi.designer.rcp.commands.entities.deleteBinding"
               label="Delete Entity">
            <visibleWhen>
            	<and>
            		<count value="+"/>
    				<iterate>
      					<instanceof value="org.rifidi.designer.entities.VisualEntity"/>
    				</iterate>
    			</and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.group"
               icon="icons/list-add.png"
               id="org.rifidi.designer.rcp.commands.entities.groupBinding"
               label="Group">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.Entity">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entities.ungroup"
               icon="icons/list-remove.png"
               id="org.rifidi.designer.rcp.commands.entities.ungroupBinding"
               label="Ungroup">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.Entity">
                     </instanceof>
                  </iterate>
	              <test
	                    property="org.rifidi.designer.rcp.entities.grouped">
	              </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.rifidi.designer.rcp.commands.entitygroup.removeall"
               icon="icons/basket_delete.png"
               id="org.rifidi.designer.rcp.commands.entitygroup.removeallBinding"
               label="Remove All">
            <visibleWhen>
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.rifidi.designer.entities.grouping.EntityGroup">
                     </instanceof>
                  </iterate>
                  <not>
                     <test
                           property="org.rifidi.designer.rcp.entitygroups.locked">
                     </test></not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.rifidi.designer.rcp.views.View3D?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.rifidi.designer.rcp.propertytesters.WorldPropertytester"
            id="org.rifidi.designer.rcp.world"
            namespace="org.rifidi.designer.rcp.world"
            properties="state"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.rifidi.designer.rcp.propertytesters.EntityPropertyTester"
            id="org.rifidi.designer.rcp.entities"
            namespace="org.rifidi.designer.rcp.entities"
            properties="running, grouped"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.rifidi.designer.rcp.propertytesters.EntityGroupPropertyTester"
            id="org.rifidi.designer.rcp.entitygroups"
            namespace="org.rifidi.designer.rcp.entitygroups"
            properties="locked, switch"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <!--<extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarecording"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+1">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="1">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarestore"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="1">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="1">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarecording"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+2">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="2">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarestore"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="2">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="2">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarecording"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+3">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="3">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarestore"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="3">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="3">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarecording"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+4">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="4">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarestore"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="4">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="4">
         </parameter>
      </key>
	  <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarecording"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+5">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="5">
         </parameter>
      </key>
      <key
            commandId="org.rifidi.designer.rcp.commands.cameras.camerarestore"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="5">
         <parameter
               id="org.rifidi.designer.rcp.commands.cameras.camerarecording.number"
               value="5">
         </parameter>
      </key>
   </extension>-->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.rifidi.designer.rcp.designcontext"
            name="Design Context">
      </context>
      <context
            id="org.rifidi.designer.rcp.runtimecontext"
            name="Runtime Context">
      </context>
   </extension>
   <extension
         point="org.rifidi.designer.entities.internal">
      <internalentity
            class="org.rifidi.designer.entities.internal.WatchAreaEntity">
      </internalentity>
   </extension>
   <extension
         id="rifididesignerproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.designer.rcp.application"
            name="Rifidi Designer">
         <property
               name="appName"
               value="Rifidi Designer">
         </property>
      </product>
   </extension>
</plugin>

