<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="export the loaded file for jme"
            id="org.rifidi.designer.ide.converter.export"
            name="Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.designer.ide.converter.commands.Handl"
            commandId="org.rifidi.designer.ide.converter.export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.rifidi.designer.ide.converter.view3d">
         <command
               commandId="org.rifidi.designer.ide.converter.export"
               label="export">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.rifidi.designer.ide.converter.viewcategory"
            name="3D views">
      </category>
      <view
            allowMultiple="false"
            category="org.rifidi.designer.ide.converter.viewcategory"
            class="org.rifidi.designer.ide.converter.views.View3d"
            id="org.rifidi.designer.ide.converter.view3d"
            name="View for 3d models">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.pflanzenmoerder.draw2d.application"
            name="Rifidi Convetrer">
      </product>
   </extension>

</plugin>
