<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.ui.ide.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.ui.ide.perspectives.Perspective"
            icon="icons/Get-Info-32x32.png"
            id="org.rifidi.ui.ide.perspective"
            name="MainPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.rifidi.ui.ide.views.consoleview.ConsoleView"
            icon="icons/konsole-24x24.png"
            id="org.rifidi.ui.ide.views.consoleview.ConsoleView"
            name="ConsoleView">
      </view>
      <view
            allowMultiple="true"
            class="org.rifidi.ui.ide.views.antennaview.AntennaView"
            icon="icons/antennaview-24x24.png"
            id="org.rifidi.ui.ide.views.antennaview.AntennaView"
            name="AntennaView">
      </view>
      <view
            class="org.rifidi.ui.ide.views.tagview.TagView"
            icon="icons/taglist-24x24.png"
            id="org.rifidi.ui.ide.views.tagsview.TagsView"
            name="TagsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.rifidi.ui.ide.views.tagview.actions"
            targetID="org.rifidi.ui.ide.views.tagsview.TagsView">
         <action
               class="org.rifidi.ui.ide.views.tagview.actions.RemoveTagActionDelegate"
               icon="icons/remove-16x16.png"
               id="org.rifidi.ui.ide.views.tagview.actions.RemoveTagActionDelegate"
               label="Remove Tag"
               toolbarPath="additions">
         </action>
         <action
               class="org.rifidi.ui.ide.views.tagview.actions.AddMultipleTagsActionDelegate"
               icon="icons/add-inf-16x16.png"
               id="org.rifidi.ui.ide.views.tagsview.actions.AddMultipleTagsActionDelegate"
               label="Add multiple Tags"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.rifidi.ui.ide.views.antennaview.actions"
            targetID="org.rifidi.ui.ide.views.antennaview.AntennaView">
         <action
               class="org.rifidi.ui.ide.views.antennaview.actions.SwitchViewActionDelegate"
               icon="icons/antennaview-3d-16x16.png"
               id="org.rifidi.ui.ide.views.antennaview.actions.SwitchView"
               label="switch view"
               style="push"
               toolbarPath="antennaActions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.rifidi.ui.ide.views.consoleview.actions"
            targetID="org.rifidi.ui.ide.views.consoleview.ConsoleView">
         <action
               class="org.rifidi.ui.ide.views.consoleview.actions.SaveConsoleViewActionDelegate"
               icon="icons/save-16x16.png"
               id="org.rifidi.ui.ide.views.consoleview.actions.SaveConsoleViewActionDelegate"
               label="save console output"
               style="push"
               toolbarPath="consoleActions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.rifidi.ui.common.wizards.tag.MultipleNewTagsWizard"
            hasPages="true"
            icon="icons/Get-Info-48x48.png"
            id="org.rifidi.ui.common.wizards.tag.MultipleNewTagsWizard"
            name="Multiple new tags wizard">
      </wizard>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.ui.ide.application"
            name="Rifidi Emulator">
         <property
               name="appName"
               value="Rifidi Emulator">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="Thank you for using Rifidi 1.5.3&#x0A;You can find more information on http://www.rifidi.org.&#x0A;Please look at the docs at http://wiki.rifidi.org for a complete User&apos;s Manual.&#x0A;&#x0A;- Rifidi Team">
         </property>
         <property
               name="windowImages"
               value="icons/title_rifidi_16x16.gif,icons/title_rifidi_32x32.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,590,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rifidi.ui.ide.editors.ReaderEditor"
            icon="icons/reader-16x16.png"
            id="org.rifidi.ui.ide.editors.ReaderEditor"
            name="Reader Details">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.rifidi.ui.ide.views.ReaderActions">
            <command
                  commandId="org.rifidi.ui.ide.views.commands.AddTags"
                  icon="icons/taglist-add-16x16.png"
                  label="Add New Tags"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="org.rifidi.ui.ide.editors.ReaderEditorMenu">
               <command
               commandId="org.rifidi.ui.ide.editors.commands.switchView"
               icon="icons/antennaview-3d-16x16.png"
               style="push">
         </command>
         </toolbar>
         
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.rifidi.emulator.ide.menus.file"
               label="File">
            <command
                  commandId="org.rifidi.ui.ide.handlers.OpenIDEConfigurationHandler"
                  label="Open IDE Configuration">
            </command>
            <command
                  commandId="org.rifidi.ui.ide.handlers.SaveIDEConfigurationHandler"
                  label="Save IDE Configuration"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.rifidi.emulator.ide.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.rifidi.ui.ide.handlers.SwitchViewHandler"
            id="org.rifidi.ui.ide.editors.commands.switchView"
            name="Switch View">
      </command>
      <command
            defaultHandler="org.rifidi.ui.ide.handlers.AddTagHandler"
            id="org.rifidi.ui.ide.views.commands.AddTags"
            name="Add New Tags">
      </command>
      <command
            defaultHandler="org.rifidi.ui.ide.handlers.OpenIDEConfigurationHandler"
            id="org.rifidi.ui.ide.handlers.OpenIDEConfigurationHandler"
            name="OpenIDEConfigurationHandler">
      </command>
      <command
            defaultHandler="org.rifidi.ui.ide.handlers.SaveIDEConfigurationHandler"
            id="org.rifidi.ui.ide.handlers.SaveIDEConfigurationHandler"
            name="SaveIDEConfigurationHandler">
      </command>
   </extension>

</plugin>
