<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.designer.entities.interfaces.IDGenerator"
            class="org.rifidi.designer.entities.adapters.DefaultAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.entities.Entity"
            class="org.rifidi.designer.entities.adapters.DefaultAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension-point id="org.rifidi.designer.library" name="Library Extension Point" schema="schema/org.rifidi.designer.library.exsd"/>
   <extension-point id="org.rifidi.designer.entities.internal" name="Internal Entities Extension Point" schema="schema/org.rifidi.designer.entities.internal.exsd"/>
</plugin>
