<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.rifidi.ui.ide.views.tagview.TagView"
            id="org.rifidi.ui.ide.views.tagsview"
            name="Tags View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.rifidi.views.tags.TagViewPart"
            id="org.rifidi.views.tags.tagview2"
            name="Tag View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.rifidi.ui.ide.views.tagview.actions"
            targetID="org.rifidi.ui.ide.views.tagsview">
         <action
               class="org.rifidi.ui.ide.views.tagview.actions.RemoveTagActionDelegate"
               icon="icons/remove-16x16.png"
               id="org.rifidi.ui.ide.views.tagview.actions.RemoveTagActionDelegate"
               label="Remove Tag"
               toolbarPath="additions">
         </action>
         <action
               class="org.rifidi.ui.ide.views.tagview.actions.AddMultipleTagsActionDelegate"
               icon="icons/add-inf-16x16.png"
               id="org.rifidi.ui.ide.views.tagsview.actions.AddMultipleTagsActionDelegate"
               label="Add multiple Tags"
               style="push"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.rifidi.views.tags.tagcategory"
            description="Create Multiple Tags"
            id="org.rifidi.views.tags.createmultipletags"
            name="Create Multiple Tags">
      </command>
      <category
            id="org.rifidi.views.tags.tagcategory"
            name="Rifidi Tag Commands">
      </category>
      <command
            categoryId="org.rifidi.views.tags.tagcategory"
            description="Delete Tags"
            id="org.rifidi.views.tags.deletetags"
            name="Delete Tags">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.views.tags.commands.CreateMultipleTagsHandler"
            commandId="org.rifidi.views.tags.createmultipletags">
      </handler>
      <handler
            class="org.rifidi.views.tags.commands.DeleteTagsHandler"
            commandId="org.rifidi.views.tags.deletetags">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.rifidi.views.tags.tagview2">
         <command
               commandId="org.rifidi.views.tags.createmultipletags"
               icon="icons/add-inf-16x16.png"
               id="org.rifidi.views.tags.createmultipletags.contrib"
               label="Create New Tags"
               style="push"
               tooltip="create a set of new tags">
         </command>
         <command
               commandId="org.rifidi.views.tags.deletetags"
               icon="icons/remove-16x16.png"
               id="org.rifidi.views.tags.deletetags.contrib"
               label="Delete Tags"
               style="push"
               tooltip="delete a set of tags">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.rifidi.views.tags.tagview2?after=additions">
         <command
               commandId="org.rifidi.views.tags.deletetags"
               icon="icons/remove-16x16.png"
               id="org.rifidi.views.tags.deletetags.contrib"
               label="Delete Tags"
               style="push"
               tooltip="delete a set of tags">
         </command>
      </menuContribution>
   </extension>

</plugin>
