<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.ui.streamer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rifidi.ui.streamer.perspective.Perspective"
            fixed="false"
            id="org.rifidi.ui.streamer.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.rifidi.ui.streamer.views.testSuite.TestSuiteView"
            id="org.rifidi.ui.streamer.views.TestSuiteView"
            name="Test Suite">
      </view>
      <view
            allowMultiple="true"
            class="org.rifidi.ui.streamer.views.batch.BatchView"
            id="org.rifidi.ui.streamer.views.batch.BatchView"
            name="Batch View">
      </view>
      <view
            allowMultiple="true"
            class="org.rifidi.ui.streamer.views.components.ComponentView"
            id="org.rifidi.ui.streamer.views.components.ComponentView"
            name="Component View">
      </view>
      <view
            allowMultiple="true"
            class="org.rifidi.ui.streamer.views.scenario.ScenarioView"
            id="org.rifidi.ui.streamer.views.scenario.ScenarioView"
            name="Scenario View">
      </view>
      <view
            allowMultiple="true"
            class="org.rifidi.ui.streamer.views.testUnit.TestUnitView"
            id="org.rifidi.ui.streamer.views.testUnit.TestUnitView"
            name="Test Unit">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.rifidi.ui.streamer.toolbars.testSuite">
            <command
                  commandId="org.rifidi.ui.streamer.commands.LoadTestSuite"
                  icon="icons/open.png"
                  label="load testsuite"
                  style="push"
                  tooltip="load testsuite">
            </command>
            <command
                  commandId="org.rifidi.ui.streamer.commands.SaveTestSuite"
                  icon="icons/save.png"
                  label="save testsuite"
                  tooltip="save testsuite">
            </command>
         </toolbar>
         <toolbar
               id="org.rifidi.ui.streamer.toolbars.testSuiteActions">
            <command
                  commandId="org.rifidi.ui.streamer.commands.StartTestUnit"
                  icon="icons/start.png"
                  label="start"
                  tooltip="start a testunit">
            </command>
         </toolbar>
         <toolbar
               id="org.rifidi.ui.streamer.toolbars.addremove">
            <command
                  commandId="org.rifidi.ui.streamer.commands.RemoveObject"
                  icon="icons/delete.png"
                  label="remove selected item"
                  style="push"
                  tooltip="remove selected item">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.rifidi.ui.streamer.views.TestSuiteView?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions">
         <command
               commandId="org.rifidi.ui.streamer.commands.LoadTestSuite"
               icon="icons/open.png"
               label="Load Test Suite"
               style="push"
               tooltip="load Test Suite">
         </command>
         <command
               commandId="org.rifidi.ui.streamer.commands.SaveTestSuite"
               icon="icons/save.png"
               label="Save Test Suite"
               tooltip="save Test Suite">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.ui.streamer.handlers.LoadTestSuiteHandler"
            commandId="org.rifidi.ui.streamer.commands.LoadTestSuite">
      </handler>
      <handler
            class="org.rifidi.ui.streamer.handlers.RemoveObjectHandler"
            commandId="org.rifidi.ui.streamer.commands.RemoveObject">
      </handler>
      <handler
            class="org.rifidi.ui.streamer.handlers.SaveTestSuiteHandler"
            commandId="org.rifidi.ui.streamer.commands.SaveTestSuite">
      </handler>
      <handler
            class="org.rifidi.ui.streamer.handlers.StartTestUnitHandler"
            commandId="org.rifidi.ui.streamer.commands.StartTestUnit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.rifidi.ui.streamer.commands.LoadTestSuite"
            name="Load Test Suite">
      </command>
      <command
            id="org.rifidi.ui.streamer.commands.SaveTestSuite"
            name="Save Load Test Suite">
      </command>
      <command
            id="org.rifidi.ui.streamer.commands.RemoveObject"
            name="Remove Object">
      </command>
      <command
            id="org.rifidi.ui.streamer.commands.StartTestUnit"
            name="Start Test Unit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            class="org.rifidi.ui.streamer.wizards.batch.BatchWizard"
            hasPages="true"
            id="org.rifidi.ui.streamer.wizards.batch.BatchWizard"
            name="new Batch Wizard">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="org.rifidi.ui.streamer.wizards.scenario.ScenarioWizard"
            hasPages="true"
            id="org.rifidi.ui.streamer.wizards.scenario.ScenarioWizard"
            name="new Scenario Wizard">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="org.rifidi.ui.streamer.wizards.component.ComponentWizard"
            hasPages="true"
            id="org.rifidi.ui.streamer.wizards.ComponentWizard"
            name="new Component Wizard">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="org.rifidi.ui.streamer.wizards.testUnit.TestUnitWizard"
            hasPages="true"
            id="org.rifidi.ui.streamer.wizards.testUnit.TestUnitWizard"
            name="new Test Unit Wizard">
      </wizard>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.ui.streamer.application"
            name="Rifidi Tag Streamer">
         <property
               name="appName"
               value="Rifidi Tag Streamer">
         </property>
         <property
               name="windowImages"
               value="icons/title_rifidi_16x16.gif,icons/title_rifidi_32x32.gif">
         </property>
         <property
               name="aboutText"
               value="Rifidi Tag Streamer 1.1.1.&#x0A;For help, the newest releases and additional information visit&#x0A;http://wiki.rifidi.org&#x0A;http://sourceforge.net/projects/rifidi/&#x0A;http://www.rifidi.org&#x0A;IRC-Channel : irc.freenode.net #rifidi">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
      </product>
   </extension>

</plugin>
