<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rifidi.designer.ide.converter.editor.ColladaEditor"
            default="false"
            extensions="dae,3ds,obj,md2,md3,ms3d"
            icon="icons/applications-system.png"
            id="org.rifidi.designer.ide.converter.colladaviewer"
            name="Collada Viewer">
      </editor>
   </extension>

</plugin>
