<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.rifidi.prototyper.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Prototyper Perspective"
            class="org.rifidi.prototyper.Perspective"
            id="org.rifidi.prototyper.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.prototyper.application"
            name="Prototyper">
         <property
               name="appName"
               value="Prototyper">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rifidi.prototyper.perspective">
         <view
               closeable="false"
               id="org.rifidi.emulator.readerview.view"
               minimized="false"
               moveable="false"
               ratio=".3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.rifidi.prototyper.items.view"
               minimized="false"
               moveable="false"
               ratio=".4"
               relationship="bottom"
               relative="org.rifidi.emulator.readerview.view"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.rifidi.prototyper.map.view"
               minimized="false"
               moveable="false"
               ratio=".4"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               ratio=".75"
               relationship="bottom"
               relative="org.rifidi.prototyper.map.view"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.rifidi.prototyper.application"
            name="newprototyper">
         <property
               name="appName"
               value="newprototyper">
         </property>
      </product>
   </extension>

</plugin>
