<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.rifidi.designer.library">
      <EntitiyLibrary class="org.rifidi.designer.library.basemodels.BasemodelsLibrary"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.antennafield.AntennaFieldEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.boxproducer.BoxproducerEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.cardbox.CardboxEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.conveyor.ConveyorEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.conveyor90.Conveyor90Entity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
	  <factory
            adaptableType="org.rifidi.designer.library.basemodels.gate.GateEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
	  <factory
            adaptableType="org.rifidi.designer.library.basemodels.pusharm.PusharmEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   <factory
         adaptableType="org.rifidi.designer.library.basemodels.infrared.InfraredEntity"
         class="org.rifidi.designer.library.basemodels.AdapterFactory">
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter">
      </adapter>
      <adapter
            type="org.eclipse.ui.views.properties.IPropertySource">
      </adapter>
   </factory>
   </extension>
</plugin>
