<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.rifidi.designer.library">
      <EntitiyLibrary class="org.rifidi.designer.library.basemodels.BasemodelsLibrary"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.antennafield.AntennaFieldEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.boxproducer.BoxproducerEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.boxproducerGID96.BoxproducerEntityGID96"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.boxproducerSGTIN96.BoxproducerEntitySGTIN96"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.boxproducerSSCC96.BoxproducerEntitySSCC96"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.cardbox.CardboxEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.rifidi.designer.library.basemodels.conveyor.ConveyorEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
	  <factory
            adaptableType="org.rifidi.designer.library.basemodels.gate.GateEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
	  <factory
            adaptableType="org.rifidi.designer.library.basemodels.pusharm.PusharmEntity"
            class="org.rifidi.designer.library.basemodels.AdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   <factory
         adaptableType="org.rifidi.designer.library.basemodels.infrared.InfraredEntity"
         class="org.rifidi.designer.library.basemodels.AdapterFactory">
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter">
      </adapter>
      <adapter
            type="org.eclipse.ui.views.properties.IPropertySource">
      </adapter>
   </factory>
   <factory
         adaptableType="org.rifidi.designer.library.basemodels.destroyer.DestroyerEntity"
         class="org.rifidi.designer.library.basemodels.AdapterFactory">
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter">
      </adapter>
      <adapter
            type="org.eclipse.ui.views.properties.IPropertySource">
      </adapter>
   </factory>
   <factory
         adaptableType="org.rifidi.designer.library.basemodels.boxproducercont.BoxproducerContinuousEntity"
         class="org.rifidi.designer.library.basemodels.AdapterFactory">
      <adapter
            type="org.eclipse.ui.IActionFilter">
      </adapter>
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter">
      </adapter>
      <adapter
            type="org.eclipse.ui.views.properties.IPropertySource">
      </adapter>
   </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.rifidi.designer.library.basemodels.boxproducercommands"
            name="Box Producer Commands">
      </category>
      <command
            category="org.rifidi.designer.library.basemodels.boxproducercommands"
            id="org.rifidi.designer.library.basemodels.boxproducer.removetags"
            name="Remove Tag">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.rifidi.designer.library.basemodels.boxproducer.RemoveTagsHandler"
            commandId="org.rifidi.designer.library.basemodels.boxproducer.removetags">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.rifidi.designer.entities.internal.RifidiTagWithParent">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.rifidi.designer.library.basemodels.boxproducer.removetags"
               id="org.rifidi.designer.library.basemodels.boxproducer.removetagsBinding"
               label="Remove Tags"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
